/.streamlit
/.vscode
/b64_cache
/b64_tmp
/config.py
/data
/datacache
/dictionaries
/localimgtmp
/manga_vectors
/onlineimgtmp
/paraphrase-multilingual-MiniLM-L12-v2
/Qwen3-Embedding-0.6B
/clip-vit-base-patch32
/__pycache__
/logs
/Integration/__pycache__
/tools/__pycache__
/data_get/__pycache__
/data_get/local/__pycache__
/data_processing/__pycache__